*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body h1 {
    padding: 20px 0 0 0;
    font-size: 40px;
}

.quadrado {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: #eee;
    padding: 2px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    color: #eee;
    border-radius: 5px;
}

.quadrado img{
    margin: 0;
    padding: 0;
    display: block;
}

.jogador, .vencedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background: #eee;
    cursor: pointer;
}

.jogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.batalha {
    text-transform: capitalize;
    color: #222;
}

.jogador1 h3, .jogador2 h3 {
    text-transform: capitalize;
}

.jogador1 span, .jogador2 span {
    font-style: italic;
    font-size: 12px;
    display: block;
}

.jogador1 ul, .jogador2 ul {
    list-style-type: none;
}

.jogador1 img{
    background: #ddf;
    border-radius: 5px;
}

.jogador2 img{
    background: #fdd; 
    border-radius: 5px;
}

.tabuleiro {
    margin-left: 50px;
    margin-right: 50px;
}
